<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Errors</title>
</head>

<body>
    <div>
        <p>Total Errors: <b>{{source.totalErrorsCount}}</b>
        </p>
    </div>
    <ul>
        {{#each source}}
            {{#if (notcounter @key)}}
                <li>
                    <div>
                        <b>{{this.totalErrorsCount}} </b>
                        <span>{{@key}}</span>
                    </div>
                    <ul>
                        {{#each this}}
                            {{#if (notcounter @key)}}
                                <li>
                                    <div>
                                        <b>{{this.totalErrorsCount}} </b>
                                        <span>{{@key}}</span>

                                    </div>
                                    <ul>
                                        {{#each this}}
                                            {{#if (notcounter @key)}}
                                                <li>
                                                    <div>
                                                        <b>{{this.totalErrorsCount}} </b>
                                                        <span>{{@key}}</span>
                                                    </div>
                                                    <ul>
                                                        {{#each this}}
                                                            {{#if (notcounter @key)}}
                                                                <li>
                                                                    <div>
                                                                        <b>{{this.totalErrorsCount}} </b>
                                                                        <span>{{@key}}</span>
                                                                    </div>
                                                                    <ul>
                                                                        {{#each this}}
                                                                                {{#if (notcounter @key)}}
                                                                                <li>
                                                                                    <div>
                                                                                        <b>{{this.totalErrorsCount}} </b>
                                                                                        <span>{{@key}}</span>
                                                                                    </div>
                                                                                </li>
                                                                            {{/if}} 
                                                                        {{/each}}
                                                                    </ul>
                                                                </li>
                                                            {{/if}} 
                                                        {{/each}}
                                                    </ul>
                                                </li>
                                            {{/if}} 
                                        {{/each}}
                                    </ul>
                                </li>
                            {{/if}}
                        {{/each}}
                    </ul>
                </li>
            {{/if}} 
        {{/each}}
    </ul>
</body>

</html>